@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Barlow&family=EB+Garamond&family=Familjen+Grotesk:wght@400;600;700&family=PT+Sans&family=Rokkitt&family=Staatliches&display=swap');

/* Color of the links BEFORE scroll */
body {
    background-color: #ffffff;
    overflow-x: hidden;

}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #262626;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
    background-color: #ffffff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
    background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
    padding-top: auto;
    padding-bottom: auto;
}

.navbar-brand {
    font-size: 48px;
    color: #000;
    text-align: center;
    font-family: Felix Titling;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* her and him on nav */
#him {
    padding-right: 50px;

}

#her {
    padding-right: 100px;
}

.him {
    font-family: Staatliches;
    font-size: 40px;
    padding-top: 15px;

}

.her {
    font-family: Staatliches;
    font-size: 50px;

}

/* search bar */
.form {
    position: relative;
}

.form .fa-search {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
}

.form-input::placeholder {
    color: white;
}

.form-input {

    height: 45px;
    width: 300px;
    text-indent: 33px;
    border-radius: 60px;
}

/* left side buttons */
.input-group-text {
    border-radius: 66px;
}

.left {
    display: flex;
}

.round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main image */
.img {
    margin-top: 50px;
    width: 100%;
}

#intro {
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.forhim {
    color: #000;
    text-align: center;
    font-family: 'Rokkitt';
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 2px;
    letter-spacing: 28px;
    margin-top: 80px;
}

.processor {
    background-color: #fff;
    margin-top: 5px;
    border-bottom: 1px solid #eee
}

.brand {
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.type {
    background-color: #fff
}

.product {
    padding: 10px;
    background-color: #EFEFEF;
    border-radius: 5px;
    position: relative
}

.about span {
    color: #5629c0;
    font-size: 16px
}

.about {
    margin-top: 12px
}


/* media queries */
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 36px;
    }

    .forhim {
        font-size: 100px;
        margin-top: 60px;
        letter-spacing: 20px;
    }

    .img {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 24px;
        margin-top: 40px;
        letter-spacing: 12px;
    }

    .forhim {
        font-size: 50px;
    }

    .img {
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 18px;
    }

    .forhim {
        font-size: 15px;
        margin-top: 20px;
        letter-spacing: 4px;
    }

    .img {
        margin-top: 20px;
    }
}


/* css 2*/
.image {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
}

.image img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scale(var(--zoom, 1));
    transform-origin: var(--x) var(--y);
    transition: transform 0.3s ease;
}

.image:hover {
    --zoom: 3;
}


@media (max-width: 576px) {
    .image {
        height: auto;
        overflow: visible;
    }

    .image img {
        position: relative;
        width: 100%;
        height: auto;
        transform: scale(var(--zoom, 1));
        transform-origin: var(--x) var(--y);
        transition: transform 0.3s ease;
    }

    .image:hover {
        --zoom: 3; 
    }
}


/* css 3 */

.card {
    border: none;
    overflow: hidden
}

.thumbnail_images ul {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px
}

.thumbnail_images ul li {
    margin: 5px;
    padding: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s
}

.thumbnail_images ul li:hover {
    border: 2px solid #000
}


@media (max-width: 576px) {
    .thumbnail_images ul {
        flex-wrap: wrap; /* Allow the list items to wrap to the next line */
        justify-content: center; /* Center the items in the available space */
    }

    .thumbnail_images ul li {
        width: calc(50% - 10px); /* 2 items per row with 5px margin on each side */
        margin: 5px;
        display: flex;
        justify-content: center; /* Center the content along the horizontal axis */
        align-items: center; 
    }
}

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 400px;
    width: 100%;
    overflow: hidden
}

.heart {
    height: 29px;
    width: 29px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.content p {
    font-size: 12px
}

.ratings span {
    font-size: 14px;
    margin-left: 12px
}

.colors {
    margin-top: 5px
}

.colors ul {
    list-style: none;
    display: flex;
    padding-left: 0px
}

.colors ul li {
    height: 20px;
    width: 20px;
    display: flex;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer
}

.colors ul li:nth-child(1) {
    background-color: #6c704d
}

.colors ul li:nth-child(2) {
    background-color: #96918b
}

.colors ul li:nth-child(3) {
    background-color: #68778e
}

.colors ul li:nth-child(4) {
    background-color: #263f55
}

.colors ul li:nth-child(5) {
    background-color: black
}

.right-side {
    position: relative
}

.search-option {
    position: absolute;
    background-color: #000;
    overflow: hidden;
    align-items: center;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 49% 51% 50% 50% / 68% 69% 31% 32%;
    left: 30%;
    bottom: -250px;
    transition: all 0.5s;
    cursor: pointer
}

.search-option .first-search {
    position: absolute;
    top: 20px;
    left: 90px;
    font-size: 20px;
    opacity: 1000
}

.search-option .inputs {
    opacity: 0;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    position: relative
}

.search-option .inputs input {
    position: absolute;
    top: 200px;
    left: 30px;
    padding-left: 20px;
    background-color: transparent;
    width: 300px;
    border: none;
    color: #fff;
    border-bottom: 1px solid #eee;
    transition: all 0.5s;
    z-index: 10
}

.search-option .inputs input:focus {
    box-shadow: none;
    outline: none;
    z-index: 10
}

.search-option:hover {
    border-radius: 0px;
    width: 100%;
    left: 0px
}

.search-option:hover .inputs {
    opacity: 1
}

.search-option:hover .first-search {
    left: 27px;
    top: 25px;
    font-size: 15px
}

.search-option:hover .inputs input {
    top: 20px
}

.search-option .share {
    position: absolute;
    right: 20px;
    top: 22px
}

.buttons .btn {
    height: 50px;
    width: 150px;
    border-radius: 35px !important
}

/* .buynow_btn:hover{
        background-color: #fff;
}
.addtocart_btn:hover{
        color: #fff;
        background-color: #8308E4;
} */