@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Barlow&family=EB+Garamond&family=Familjen+Grotesk:wght@400;600;700&family=PT+Sans&family=Rokkitt&family=Staatliches&display=swap');
/* Color of the links BEFORE scroll */
body {
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: Bai Jamure;

}
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #262626;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
    background-color: #ffffff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
    background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
    padding-top: auto;
    padding-bottom: auto;
}

.navbar-brand {
    font-size: 48px;
    color: #000;
    text-align: center;
    font-family: Felix Titling;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 



/* search bar */
.form {
    position: relative;
}

.form .fa-search {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
}

.form-input::placeholder {
    color: rgb(0, 0, 0);
}

.form-input {

    height: 45px;
    width: 300px;
    text-indent: 33px;
    border-radius: 60px;
}

/* left side buttons */
.input-group-text {
    border-radius: 66px;
}

.left {
    display: flex;
}

.round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main image */
.img {
    margin-top: 50px;
    width: 100%;
}

#intro {
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.forhim {
    color: #000;
    text-align: center;
    font-family: 'Rokkitt';
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 2px;
    letter-spacing: 28px;
    margin-top: 80px;
}

.processor {
    background-color: #fff;
    margin-top: 5px;
    border-bottom: 1px solid #eee
}

.brand {
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.type {
    background-color: #fff
}

.product {
    padding: 10px;
    background-color: #EFEFEF;
    border-radius: 5px;
    position: relative
}

.about span {
    color: #5629c0;
    font-size: 16px
}

.about {
    margin-top: 12px
}

.btn-save{
    color: #fff;
    background-color: #8307e4;
}
.btn-save:hover{
    color: #8307e4;
    border: solid 1px #8307e4;
}


/* media queries */
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 36px;
    }
    .forhim{
        font-size: 100px;
        margin-top: 60px;
        letter-spacing: 20px;
    }
    .img{
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 24px;
        margin-top: 40px;
        letter-spacing: 12px;
    }
    .forhim{
        font-size: 50px;
    }
    .img{
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 18px;
    }
    .forhim{
        font-size: 15px;    
        margin-top: 20px;
        letter-spacing: 4px;
    }
    .img{
        margin-top: 20px;
    }
}






#leftPanel{
    background-color:#0079ac;
    color:#fff;
/*     text-align: center; */
}

#rightPanel{
    min-height:500px;
  min_width:300px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 20px;
  border-top: 0;
/*   background: #c4e17f; */
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.custom-container{
    max-width: 700px;
}