<%-include("includes/header")-%>
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container ">
            <div class="d-flex justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3 class="d-flex justify-content-center">Signup</h3>
                            <form class="row contact_form" action="/api/otp" method="post" novalidate id="form">                                
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name" value=""
                                        placeholder="Username">
                                </div>
                                <p class="err-msg d-flex justify-content-center" id="errorElement1" style=" color: red;"></p>
                                <div class="col-md-12 form-group p_star">
                                        <input type="email" class="form-control" id="email" name="email" value=""
                                            placeholder="Email" required  >
                                </div>
                                        <p class="err-msg d-flex justify-content-center" id="errorElementEmail" style=" color: red;">
                                            <% if(foundEmail){ %>
                                                <%=foundEmail %>
                                            <% } %>
                                        </p>
                                <!-- <p class="err-msg d-flex justify-content-center" id="errorElementEmail" style=" color: red;"></p> -->
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="phone" name="phone" value=""
                                        placeholder="Phone">
                                </div>
                                <p class="err-msg d-flex justify-content-center" id="errorElement2" style=" color: red;"></p>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                        placeholder="Password  (eg:abcd@123)">
                                </div>
                                <p class="err-msg d-flex justify-content-center" id="errorElement3" style=" color: red;"></p>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" value=""
                                        placeholder="Confirm Password">
                                </div>
                                <p class="err-msg d-flex justify-content-center" id="errorElement4" style=" color: red;"></p>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                    </div>
                                    <button type="submit" value="submit" class="btn_3">
                                        Continue
                                    </button>
                                    <a class="lost_pass" href="/login">Go to Sign In</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
    <!-- <script src="js/registerValidation.js"></script> -->
    <script src="js/beforeRegisterValidation.js"></script>
    <!-- <script src="js/header.js"></script> -->
    <%-include("includes/footer")-%>